
body {
	background: #d2d1d0 url(../images/body_bg.jpg);
	padding: 0px;
	margin: 0px;
	font-family: 'Arial';
}

body a {
	outline: 0;
}

h1 {
	color: #5B5B5B;	
	padding: 10px;
	font-size:36px
}

a {
	text-decoration:none
}

input {
	border-radius:10px;
}
.inline-div {  
    display: inline-block; /* 使得div并排显示 */  
    height: 60px;    
    vertical-align: middle;  
    text-align: center;   
} 
.inline-div-date {  
    display: inline-block; /* 使得div并排显示 */  
    height: 20px;    
    vertical-align: top;  
    text-align: center;   
} 
.menu {
	top: 0;
	background: #2b2a28;
	margin: 0 auto;
	border-bottom: solid 3px #e83d02;
}

.menu ul {
	padding: 15px;
	padding-bottom: 10px;
	border-radius: 3px;
	background: #666;
	margin: 0 auto;
	width: 1000px;
	background: #2b2a28;
	overflow: hidden;
}

.menu ul li {
	color: #fff;
	list-style: none;
	float: left;
	font-size: 12px;
	padding-top: 15px;
}

.menu ul li a {
	color: #eee;
	text-decoration: none;
	padding: 32px 23px;
	cursor: pointer;
	border-top: none;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: bold;
	background: url(../images/menu_separator.png) repeat-y left;
}

.menu ul li a.home {
	background: url(../images/home.png) no-repeat top center;
	border-right: dotted 1px #5a5957;
	border-left: dotted 1px #5a5957;
}

.menu ul li a.account {
	background: url(../images/account.png) no-repeat top center;
	border-right: dotted 1px #5a5957;
}

.menu ul li a.login {
	background: url(../images/login.png) no-repeat top center;
	border-right: dotted 1px #5a5957;
	border-left: dotted 1px #5a5957;
}

.menu ul li.active a{ 
	color: #fff;
	background-color: #e83d02;	
}

.title-field {
	width: 1000px;
	margin: 0 auto;
}


.content {
	width: 1000px;
	margin: 0 auto;
	margin-top: 10px;
}

.button {
	color: #3C3C3C;
		width: 150px;
		height: 30px;
    	margin: 0 auto;
    	margin-top: 10px;
    	font-weight: bold;
}
.operate_button {
	color: #3C3C3C;
	width: 120px;
	height: 30px;
	font-weight: bold;
	font-size: 12pt;
}
.operate_date {
	color: #3C3C3C;
	width: 120px;
	height: 30px;
	font-weight: bold;
	font-size: 10pt;  
    vertical-align: middle;  
    text-align: center;
}


/*login.css*/
#content .content {
	overflow: auto;
	margin-bottom: 20px;
}

h2 {
	color: #5B5B5B;	
	padding: 10px;
	font-size: 18pt;
}

.login-content .left {
	width: 30%;
	margin-left: 30%;
}

.login-content .right {
	width: 30%;
	margin-right: 30%;
}

.reg-content p, .log-content p {
	font-size: 12pt;
	font-weight: bold;
}

.reg-content input, .log-content input {
	margin-top: -10px;
	margin-bottom: 10px;
	height: 30px;
	width: 200px;
}

.reg-content .button, .log-content .button {
	float: left;
	margin-top: 20px;
	margin-right: 33%;
	height: 30px; 
	width: 70px;
	font-weight: bold;
}



.operate_content {
	width: 900px;
	margin: 0 auto;
	margin-top: 50px;
	margin-left: 0px;

}
.operate_content li{
	list-style:none;
	padding:10px;
	margin-left:0%;
	margin-right:100px;
	margin-bottom:5px;
	color:#5B5B5B;
	text-shadow: 0 1px #fff;
	font-weight:bold;
}

.operate_content li a{
	color:#5B5B5B;
	text-shadow: 0 1px #fff;
	font-weight:bold;
	text-decoration:none;
}
.operate_select {
    width: 200px;
    margin: 0 auto;
    margin-top: 20px;
    border: 3px solid #c69d9d;
    border-radius: 10px;
    padding: 8px;
    font-size: 15px;
    font-weight: bold;
}

/*account*/
.account_content {
	width: 1000px;
	margin: 0 auto;
	margin-top: 20px;

}
.account_content li {
    background-color: #e0e0e0;
    border: 1px solid #BBBBBB;
	box-shadow: 1px 1px 1px #FFFFFF inset;	
	list-style:none;
	padding:10px;
	margin-left:0%;
	margin-right:5px;
	margin-bottom:5px;
	color:#5B5B5B;
	text-shadow: 0 1px #fff;
	font-weight:bold;
}

.account_content li:hover {
	background:#eee;
}

.account_content li a{
	color:#5B5B5B;
	text-shadow: 0 1px #fff;
	font-weight:bold;
	text-decoration:none;
}

/*change_password*/
.change_password_content {
	width: 30%;
	margin-left: 0%;
}

.change_password_content input {
	margin-bottom: 10px;
	height: 30px;
	width: 200px;
}

.change_password_content .button {
	float: left;
	margin-top: 10px;
	margin-right: 33%;
	height: 30px; 
	width: 70px;
	font-weight: bold;
}

.pass {
	color: #5B5B5B;
	font-weight: bold;
}

